@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: CrimsonText-Roman;
  src: url(../font/CrimsonText-Roman.ttf);
}

@font-face {
  font-family: Amsdam-Regular-Mac;
  src: url(../font/Amsdam-Regular-Mac.ttf);
}

@font-face {
  font-family: Amsdam-Regular;
  src: url(../font/Amsdam-Regular.ttf);
}
