@function vp($minSize, $maxSize, $base: 1600){
    $a: $minSize;
    $b: $maxSize - $minSize;
    $c: 100vw - 375;
    $d: $base - 375;
    $cd: $c / $d;
    $bcd: $b * $cd;
    @return $a / 5 + $bcd;
    
}


@function vw($value, $base: 1600){
    @return $value * 1.5 / $base * 100vw;
}

// 11 + (14 - 11) * ((100 - 375) / (1600 -375))
//calc(15px + (35.63 — 15) * ((100vw — 375px) / (1600 — 375)));
//$minSize + ($maxSize — $minSize) * ((100vw — 375px) / (1600 — 375));

//calc([min size]px + ([max size] — [min size]) * ((100vw — [min vw width]px) / ([max vw width] — [min vw width])))